.opening{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid red;
}
.opening img{
   width: 1000px;
    border: 10px solid red;
}

/* ALL TAG */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat";
    background-color: lightgrey;
    color: #272829;
}

.container1 nav a {
    text-decoration: 0;
    transition: 0.3s;
}
.container1 nav a:hover {
    color: #F05941;
    text-shadow: 0px 0px 5px #BE3144;
    text-shadow: 0px 0px 10px #BE3144;
    font-size: 25px;
}
ul{
    list-style: none;
}

/* Navigation */
.container1 nav {
    text-shadow: 0px 0px 5px black;
    padding: 30px 80px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0%);
    position: fixed;
    top:0;
    right:0 ;
    left: 0;
    z-index: 10;box-sizing: border-box;
}
.container1 .logo h1{
    font-size: 50px;
    color: white;
    text-shadow: 5px 5px 10px black;
}
.container1 nav span{
    color: #B31312;
}
.container1 nav ul{
    width: 40%;
    display: flex;
    justify-content: space-evenly;

}
.container1 nav ul li a{
    color: white;
    font-size: 20px;
}
/* END OF NAVIGATION */
/* Profil */
.container1 {
    display: flex;
   height: 653px;
   width: 100%;
   /* background-color: #0F1035; */
   background-image: url(image/city.jpg);
   padding-top: 220px;
   padding-left: 150px;
   /* margin-bottom: -10px; */
   box-sizing: border-box;
   overflow: hidden;
}
.container1 .greeting h1{
    font-size: 50px;
    color: #11009E;
    text-shadow: 0px 0px 10px gold;
    font-family: "Pixel";
    margin-bottom: 30px;
}

.container1 .greeting .pp img{
    position: absolute;
    top: 105px;
    right: 100px;
    width: 300px;
    filter: brightness(0.6);
}

.container1 .greeting h2, .container1 .greeting p{
    font-family: "Dot";
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    color: orange;
    text-shadow: 0px 0px 10px red;
    letter-spacing: 2px;
}
.know{
  color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  border: 2px solid aqua;
    background-color: rgba(30, 6, 114, 0.5);
    position: absolute;
    bottom: 110px;
    left: 750px;
    border-radius: 100px;
    transition: 1s;
}
.know:hover{
  box-shadow: 0px 25px 10px black, 0px 25px 30px yellow;
  transform: scale(1.2);
}
/* End of Profil */

/* About Me */


@font-face {
    font-family: "Montserrat";
    src: url(/font/MontserratAlternates-Medium.otf);
    
}
@font-face {
    font-family: "Lobster";
    src: url(font/Lobster_1.3.otf);
}
@font-face {
    font-family: "Quick-Sand";
    src: url(font/Quicksand-Regular.otf);
}

@font-face {
    font-family: "Pixel";
    src: url(font/PixelifySans-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Rubik";
    src: url(font/RubikLines-Regular.ttf);
}
@font-face {
    font-family: "Dot";
    src: url(font/DotGothic16-Regular.ttf);
}
@font-face {
    font-family: "Bitter";
    src: url(font/Bitter-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Bebas";
    src: url(font/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "Archivo";
    src: url(font/ArchivoBlack-Regular.ttf);
}
@media(max-width: 600){
*{
    transform: scale(0.5);
}
}
